body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(200, 91%, 78%);

}
.titulo h2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    place-content: center;
    color: rgba(50, 39, 255, 0.574);

}
fieldset form label{
    font-size: 18px;
}

button{
    position: relative;
    left: 32%;
    background-color: hsl(0, 0%, 100%) ;
}
fieldset{
    font-size: 80px;
}
.link{
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 58px;

}
fieldset input{
    background-color: hsl(198, 85%, 95%);
};